*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
}
/* 1rem = 10 px */
a{
    display: block;
    text-decoration: none;
}
img{
    display: block;
}
nav{
    padding: 1.6rem;
    background-color: #145762;
    display: flex;
    align-items: center;
}
nav img{
    width: 2.4rem;
    height: 2.4rem;
    z-index: 1;
}
nav .logo img{
    width: 10rem;
    height: 1.98rem;
}
nav .logo{
    position: absolute;
    width: calc(100% - 1.6rem * 2);
    display: flex;
    justify-content: center;
}
nav .menu-boton{
    z-index: 1;
}
.fondo{
    height: 16.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: -1;
}
.fondo::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #F86943;
    position: absolute;
    z-index: -1;
}
.fondo::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.08;
    background: url("../img/fondo-pampa.svg") repeat;
    background-position: 0rem -5.5rem;
    position: absolute;
}
.fondo h3{
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 2.4rem;
}
.fondo h4{
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    margin: 2rem 0rem 0rem 0rem;
}
.alinear-contenido{
    display: flex;
    justify-content: center;
}
.contenido{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tarjeta{
    width: 10.4rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 1.6rem 1.5rem 1.6rem;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    border-radius: 1rem;
    position: relative;
    bottom: calc(7.5rem + 0.8rem);
    background-color: white;
    margin: 0.8rem 0.8rem;
}
.tarjeta img{
    width: 3.2rem;
    height: 3.2rem;
}
.tarjeta div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tarjeta div h4{
    color: rgb(51, 51, 51);
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.8rem;
    letter-spacing: 0.04rem;
}
.tarjeta div h3{
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    color: #145762;
    line-height: 3rem;
    letter-spacing: 0.015rem;
}
@media (max-width: 480px){
    .tarjeta.ultima{
        position: relative;
        right: calc(10.4rem + 0.8rem * 2);
    }
}
@media (max-width: 376px){
    .tarjeta.ultima{
        position: relative;
        right: calc(10.4rem / 2 + 0.8rem);
    }
}
@media (max-width: 256px){
    .tarjeta.ultima{
        position: relative;
        right: 0;
    }
}
/* Limitaciones a arreglar: el tema del flex y la obligacion a usar un media con position para
que me apile la ultima tarjeta al flex-start y todo el conjunto constantemente al medio.
Ver por qué la fuente que toma no coincide con la del figma aún teniendo las mismas
propiedades. Arreglar el fondo que no se repite como deberia*/